{
  "env": {
    "browser": true
  },
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "func-names": "off",
    "no-unused-vars": "warn",
    "no-console": "off",
    "object-shorthand": "off",
    "no-confusing-arrow": "off",
    "eqeqeq": "warn",
    "radix": "off",
    "prefer-const": "warn"
  }
}
