:root {
  --color-display-numbers: #ffffff;
  --color-background-page: #7198a5;
  --color-background-calculator: #2b3d44;
  --color-operators: #70b9cf;
  --color-numbers: #d4dfe5;
  --color-buttons-other: #b9cad3;
}

body {
  background-color: var(--color-background-page);
}

.wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-background-calculator);
  display: grid;
  grid-template: 100px repeat(5, 90px) / repeat(4, 90px);
  gap: 1px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow: hidden;
}

.button {
  cursor: pointer;
  outline: none;
  font-family: arial, sans-serif;
  font-size: 24px;
  border: 0;
}

.button:hover {
  filter: brightness(95%);
}

#display {
  color: var(--color-display-numbers);
  grid-column: 1 / 5;
  text-align: end;
  padding-right: 5px;
  font-size: 58px;
  font-family: 'Nunito', monospace;
  margin: auto 0;
}

#ac,
#del,
#sign {
  background-color: var(--color-buttons-other);
}

.number,
#percentage,
#decimal {
  background-color: var(--color-numbers);
}

.math-operator,
#equal {
  background-color: var(--color-operators);
}

.wrapper button:active {
  box-shadow: 0 0 0 3px rgba(113, 152, 165, 0.5);
  z-index: 10;
}

img {
  width: 24px;
  height: 24px;
}
